.container-content {
  display: flex;
  justify-content: space-between;
}

.container-content .col1 {
  width: 67%;
}

.container-content .col2 {
  width: 30%;
}

@media (max-width: 760px) {
  .container-content {
    margin: 20px;
  }
  .container-content .col1 {
    width: 100%;
  }
  .container-content .col2 {
    display: none;
  }
}
